# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages
warnings_are_errors: true

os:
  - linux
  - osx
  - windows

r:
  - 3.6.1
  - release
  - devel

after_success:
  - Rscript -e 'covr::codecov()'
